@font-face{
    font-family: "Rushbrush";
    src: url("../fonts/Rushbrush.ttf") format('truetype');
}

.page {
   padding: 50px 15% 50px 15%;
    background-image: url("../images/pattern.jpg");
    background-repeat: repeat;
}
.header {
    background-color: cornflowerblue;
    margin-bottom: 32px;
    height: 150px;
}
.header img {
    float: right;
    height: 150px;
}
.shop-name {
    float: left;
    font-family: "Rushbrush";
    font-size: 100px;
    font-weight: bold;
    color: darkorange;
    margin: 20px;
}

.left-panel {
    background-color: crimson;
    margin-right: 32px;
    float: left; height: 100%;
}
.main-panel {
    background-color: rgba(2, 100, 2, 0.3);
    overflow: hidden;
}
.product {
    margin: 20px;
    border: darkorange solid 2px;
    background-color: forestgreen;
    opacity: 0.5;
}
.product:hover {
    opacity: 1;
}
.product img {
    margin: 5px;
}
.product table {
    float: right;
}
.register-form label{
display: inline-block;
    width: 85px;
}

.register-form input{
    width: 130px;
    display: inline-block;
}

.register-form input[type="checkbox"]{
    width: 30px;
    display: inline-block;
}

.licese-terms {
    width: 230px !important; 
}

input:focus {
    background-color: deeppink;
}